
name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
    
    - name: Change to app directory
      working-directory: ./app
      run: pwd
      
    - name: Run tests and generate coverage
      working-directory: ./app
      run: ./gradlew test jacocoTestReport
      
    - name: Run lint (checkstyle)
      working-directory: ./app
      run: ./gradlew checkstyleMain
  
    - name: Build project
      working-directory: ./app
      run: ./gradlew build
    
    - name: Analyze with SonarQube
      working-directory: ./app
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: ./gradlew sonar --info
    
